{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Photo</th>
                <th scope="col">Secteur</th>
                <th scope="col">Contrat</th>
                <th scope="col">Date_sortie</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
{#                <td> <img src="{{ asset('uploads/user/'~user.photo) }}" width="45px" height="45px"></td>#}
{#                {% if user.photo %}#}
                    <td> <img src="{{ asset('uploads/user/'~user.photo) }}" width="45px" height="45px"></td>
{#                {% endif %}#}
                <td>{{ user.secteur }}</td>
                <td>{{ user.contrat }}</td>
                <td>{{ user.dateSortie ? user.dateSortie|date('Y-m-d') : '' }}</td>
                <td>
                    {% if app.user is not null %}
                    <a class=" btn btn-success" href="{{ path('app_user_show', {'id': user.id}) }}">Détail</a>
                    {% endif %}
                    {% if app.user is not null and app.user.hasRole("ROLE_RH")%}
                    <a class=" btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user is not null and app.user.hasRole("ROLE_RH")%}
    <a class=" btn btn-success" href="{{ path('app_user_new') }}">Enregistrer une nouvelle personne</a>
    {% endif %}
{% endblock %}
